:root {
    --bg-color: #282c34;
    --text-color: #d4d4d4;
    --accent-color: #61afef;
    --secondary-color: #98c379;
    --corner-radius: 7.5px;
}

* {
    margin: 0;
}

body {
    font-family: 'Courier New';
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

main {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    flex: 1;
    margin-bottom: -2rem;
}

/* Header */
header {
    max-width: 800px;
    margin: 0 auto 2rem;
    width: 100%;
    border-bottom: 3px solid var(--accent-color);
    padding-top: 2rem;
}

.header-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

h1 {
    color: var(--accent-color);
}

nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Sections */
h2 {
    color: var(--accent-color);
    margin-bottom: 0.25rem;
}

.terminal-prompt::before {
    content: "$ ";
    color: var(--secondary-color);
}

section {
    margin-bottom: 2rem;
}

/* About Me */
.about-content {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.about-image {
    height: 250px;
    border-radius: var(--corner-radius);
    border: 1px solid var(--accent-color);
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Projects Grid */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.project-card {
    border: 1px solid var(--accent-color);
    padding: 1rem;
    border-radius: var(--corner-radius);
    text-decoration: none;
    color: var(--text-color);
    transition: transform 0.2s ease, border-color 0.2s ease;
}

.project-card:hover {
    transform: translateY(-3px);
    border-color: var(--secondary-color);
}

.project-card h3 {
    color: var(--secondary-color);
    margin-bottom: 0.5rem;
}

.project-card-content {
    flex-direction: column;
    display: flex;
    height: 100%;
}

.project-link {
    margin-top: auto;
    color: var(--accent-color);
    display: flex;
    gap: 0.5rem;
    opacity: 0.85;
}

.project-card:hover .project-link {
    opacity: 1;
}

.tech-list {
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
    list-style: none;
}

.tech-list li {
    background-color: rgba(97, 175, 239, 0.1);
    color: var(--accent-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
}

/* Projects Details */
.project-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--accent-color);
}

.project-info {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.project-info h3 {
    color: var(--secondary-color);
    margin-bottom: 0.25rem;
}

.project-image {
    width: 100%;
    border-radius: var(--corner-radius);
    border: 1px solid var(--accent-color);
}

.project-description {
    margin-bottom: 2rem;
}

/* Project Features */
.feature-list {
    margin-bottom: 2rem;
    padding: 0;
}

.feature-list li {
    margin-bottom: 0.5rem;
    display: flex;
    gap: 0.5rem;
}

.feature-list li::before {
    content: "→";
    color: var(--accent-color);
}

/* Project Links */
.project-links {
    margin-top: auto;
    display: flex;
    gap: 1rem;
}

.btn-link {
    display: inline-flex;
    gap: 0.5rem;
    color: var(--accent-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid var(--accent-color);
    border-radius: var(--corner-radius);
    transition: all 0.2s ease;
}

.btn-link:hover {
    transform: translateY(-3px);
    background: var(--accent-color);
    color: var(--bg-color);
}

/* Resume */
.resume-container {
    width: 100%;
    height: 1100px;
    border: 1px solid var(--secondary-color);
    border-radius: var(--corner-radius);
}

/* Footer */
footer {
    border-top: 3px solid var(--accent-color);
    max-width: 800px;
    margin: 2rem auto;
    text-align: center;
    color: var(--text-color);
    width: 100%;
    padding: 1rem 0;
}

.email-link {
    color: var(--accent-color);
}

/* Social Links */
.social-links {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 1rem;
}

.social-links a {
    color: var(--text-color);
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: var(--accent-color);
}